body
{
    background-color: cornflowerblue;
    
}

div{
    background-color: navy;
    width: 100px;
    float: left;
    padding: 5px;

}
h1{
    text-decoration-color: white;
    font-size: medium;
}
