body
{
    background-color: cornflowerblue;
    
}

div{
    
    float: left;
    padding: 25px;
    background-color:white

}
h1{
    color: white;
    font-size: 10pt;
    background-color: navy;

}
