body {
    background-image: url(https://external-preview.redd.it/VOKOSBqik9dgRynDtQcf5I6JwONKivkyhP6DizUFKHk.jpg?auto=webp&s=a60eb36e7fe876f9adeca28a99953ca16d34b004)
}



.topnav{
    background-color: #44351f;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color:#ddd;
    color: black;

}

.topnav a.active{
    background-color: #9eaf9c;
    
    color: white;
   
}

.center {
    border-radius: 50%;
    
}

h2.Hello{
    text-align:center;
    color: white;
    font-size: 15px;

}
